.profile-list-table * {
  box-sizing: border-box;
}
.profile-list-table .MuiTableRow-root:nth-child(even) {
  background-color: #f2f2f2;
}

.profile-list-table .MuiTableCell-root {
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0;
}

.profile-list-table td.MuiTableCell-root:first-child {
  text-align: center !important;
  width: 100px !important;
}

.profile-list-table td.MuiTableCell-root:last-child {
  width: 100px !important;
}

.profile-list-table .MuiTableCell-head,
.profile-list-table .MuiTableCell-root {
  padding: 0.15rem 0.5rem;
  height: 47px;
  box-sizing: border-box;
  font: normal normal normal 17px/23px Open Sans;
  color: #000000;
}

.profile-list-table .MuiTableCell-root.profile-name {
  text-transform: uppercase;
}

.profile-list-table .MuiTableCell-head {
  font: normal normal bold 14px/18px Open Sans;
  letter-spacing: 0;
  padding: 0.5rem;
  background-color: #f8f9fb;
  line-height: 24px;
  color: #4d4d4d;
}

.profile-list-table .MuiSvgIcon-root {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: -4px;
}

.profile-list-table td.date-feild {
  width: 185px !important;
}

.profile-list-table .MuiInputBase-input {
  padding: 8.5px 8px !important;
  font: normal normal normal 16px/22px Open Sans;
}

.profile-list-table .table-btn,
.profile-list-table-footer .table-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: normal normal 600 14px/30px Open Sans;
  letter-spacing: 0px;
  padding: 0;
  color: #004dc7;
  cursor: pointer;
}
.profile-list-table-footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 0rem 1rem 0rem;
  height: 47px;
  box-sizing: border-box;
}

.profile-permisiions-list {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: unset;
  padding: 0;
  border-radius: 5px;
  border: 0px;
  min-height: 100%;
}

.profile-list-table .profile-status {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  font: normal normal normal 14px/24px Open Sans;
  letter-spacing: Opx;
  border-radius: 24px;
  line-height: 19px;
  padding: 6px 12px;
  text-transform: capitalize;
}

.profile-list-table .profile-status.active {
  border: 1px solid #07711f;
  color: #07711f;
}

.profile-list-table .sort-icon svg {
  width: 1rem;
  height: 0.75rem;
}
